<a href="https://colab.research.google.com/github/poonamkhot123/Python-Practice/blob/main/Python_rivison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This practice is by using youtube chanel " Python Tutorial for beginners iin hindi"
# Total 9:11hrs vidieo
# starts from 1:45 hrs

# Casting in python

In [ ]:
a = 1
print(type(a))
b = '1'
print(type(b))

c = int(b)
print(type(c))
print(a+c)

<class 'int'>
<class 'str'>
<class 'int'>
2

 **IMPLICIT TYPE CASTING**
also known as coercion ,is performed automatically by the Python interpreter.This usually occurs when performing operations between different data types,and python implicitly converts one data to another to avoid data loss or errors.

In [ ]:
# implicit type casting from integer to float
num1=10
num2=5.5
result=num1+num2
print(result)
print(type(result))
# one num is int another is float finally it convert into float it is implicit type casting.

15.5
<class 'float'>

**Explicit type casting** Also known as type conversion , is performed manually by the programmer using built-in functions.
this is done to ensure the desired type conversion and to avoid unexpected behavior.

In [ ]:
# Coverting String to Integer
str_num = "26"
int_num =int(str_num)
print(int_num)
print(type(int_num))

# Converting a value to boolean
print(bool(0))
print(bool(1))

26
<class 'int'>
False
True

# **Input Function**


The input function is an essential feature in python that allows to take input from the user.

In [ ]:
name = input("Enter your name:")
print(f"welcome {name} to the python tutorial series")

Enter your name:poonam
welcome poonam to the python tutorial series

In [ ]:
# input from user to add two number and print result.
x = input("Enter first number:")
y = input("Enter second number:")
print(f"Sum of{x} & {y}is {int(x)+int(y)}")

Enter first number:12
Enter second number:12
Sum of12 & 12is24

In [ ]:
# HW:write a program to input student name and marks of 3 subjects.
# print name & percentage in output.

name = input("Enter a name:")
marks1 = input("enter marks of first subject:")
marks2 = input("enter marks of second subject:")
marks3 = input("enter marks of third subject")
percentage = ((int(marks1)+int(marks2)+int(marks3))/300)*100
print(f"the result of {name} is {int(percentage)}%.well done.")

Enter a name:poonam
enter marks of first subject:56
enter marks of second subject:67
enter marks of third subject89
the result of poonam is 70%.well done.

In [ ]:
# write a python program thats collects multiple types of
# data(e.g.,name,age,height  and student status)
# from user input,stores them in a dictonary,and then prints out the collected data?

# intializing dictionary
user_name ={}
user_name['name'] = input("Enter your name:")
user_name['age'] = int(input("Enter your age:"))
user_name['height'] = float(input("Enter your height:"))
user_name['student'] = input("are you a student:")
print(user_name) #completed till 2:41hrs

started from = 2:41hrs
date = 16 july 2025

In [ ]:
# operators in python are special symbols or keywords
# operators : these are thespecials symbols
# operand: it is the value on which the operator is applied.
# addition operator  +
# Equal operator ==
# and operator  and
# assign operator =

# **Types of operator**

* 1.Arthmetic operators
* 2.Comparison (relational) operators
* 3.assignment operator
* 4.logical operators
* 5.bitwise operators
* 6.identity operators
* 7.membership operators

# *Arithmetic operators*
* (+)addition               a+b        #o/p:8
* (-) substraction          a-b        #o/p:2
* (*) multiplication        a*b        # o/p:15
* (/)Division               a/b        #o/p:1.6666
* (% )modulus(returns remainder) a%b    #o/p:2
* (//) floor division       a//b       #o/p:1
* (**) Exponentiation                  #o/p:125

* **Precedence of Arithmetic operators in python:**
p-parenthesis,E-exponential,M-multiplication,D-division,A-addition,S-substraction

## *Comparison (Realtional) Operators*
* comparison operators are used to compare two values and return a boolean result(True or False)

* (==) equal
* (!=) not equal
* (>) greater than
* (<) less than
* (>=) greater than or equal to
* (<=) less than or equal to

# *Logical operators*
 * **and** returns true if both statements are true
* **or** returns true if one of the statement is true
* **not** reverse the result,returns false if the result is true

# *Identity & Membership Operators*
identity operators are used to compare the memory locations of two objects,
not just equal but if they are the same objects.
Membership operators checks whether a given value is a member of a sequence
(such as strings,lists, and tuples) or not


*   **identity**.........    is......            (a is b)
*   **identity**.........    is not.....        (a is not b)
* **Membership**.........    in......            (a in b)
* **Membership**.........    not in....        (a not in b)..........  till 3:14hrs

In [ ]:
# started date = 17/07/2025
# time = 3:15 hrs

# **CONDITIONAL STATEMENTS**
*conditional statements allows you to execute code based on condition evaluates to true or False.

Types of conditonal statements
* 1.'if' statement
* 2.'if-else' statement
* 3.'if-elif-else' statement
* 4.Nested 'if else' statement
* 5.Conditional Expressions (Ternary Operators)

In [ ]:
# if conditional statement = execute a block of code only if the condition is true.
age = 26
if age > 19:
  print("you are an adult")

you are an adult

In [ ]:
a = 260 # if statement excecute only if condition is true
b = 222
if b > a:
  print("b is greater than a")

#  'if-else' Conditional Statement
* the if-else statement provides as alternative block of code to execute if the condition is false.

Syntax:

* if condition:
* .......code to execute if the condition is true.
* else:
* .......code to execute if the condition is false

In [ ]:
temperature = 30
if temperature > 25:
  print("it's a hot day.")
else:
  print("it's a cool day.")

it's a hot day.

# 'if-elif-else' Conditional Statement
* the if-elifielse statement allows to check multiple conditions and execute different blocks of code based on which condition is True.

# Syntax
* if condition1:
* .......code to execute if condition1 is true
* elif condition2:
* .......code to execute if condition2 is true
* else:
* ......code to execute if none of the above conditions are true

In [ ]:
# Grading system: let's write a code to classify the student's grade
# based on their totalmarks(out of hundred)
score = 85
if score >= 90:
  print("Grade - A")
elif score >=80:
    print("grade - B")
elif score >= 70:
  print("grade - C")
else:
  print("grade - D")

grade - B

# Nested ' if-else'conditional Statement
* a nested if-else statement in python invloves placing an if-else statement inside another if else statement.this allows for more complex decision-making by checking **multiples conditions that depend on each other.**

# Syntax
* if condition1:
..... code block for condition1 being true
*......if condition2:

* .......else:
* else:

In [ ]:
# number classification :let's say you want to classify as positive,
# negative or zero and further classify positive numbers as even or odd.
num = int(input("Enter a number:"))
if num > 0:   # first check if the number is positive
   if num % 2 ==0:
    print("the number is positive and even.")
   else:
    print("the number is positive and odd.")
else:
  if num == 0:
    print("the number is zero.")
  else:
    print("the number is negative.")

Enter a number:45
the number is positive and odd.

In [ ]:
year = int(input("Enter a year:"))
if (year % 4 == 0 and year % 100 != 0):
   print(f"{year} is leap year")
else:
    print(f"{year} is not a leap year")

Enter a year:2024
2024 is leap year

# **Functions**
A function is a block of code that performs a specific task. you can use it whenever you want by calling its name,which saves you from writing the same code multiples times.

# Basic concepts
* Create function: Use the def keyword to define a function.
* call function : use the function's name folowed by () to run it.
* Parameter : The variable listed inside parentheses in function defination.
* Argument : The actual value you pass to function when you call it.

# Types of Functions
**1. Built - in library function:**
* These are Standard functions in python that are available to use.
* Examples: print(),input(),type(),sum(),max()

**2. User-defined function:**
* we can create our own functions based on requirement.
* Examples: Create your own Function

In [ ]:
# function without parameters
def greetings():
  print("welcome to python tutorial by Rishabh")
# use or call this function
greetings()

welcome to python tutorial by Rishabh

In [ ]:
# function to adds two numbers and print result.
def add2numbers(a,b):
  result = a+b
  print("The sum is:",result)
  # calling this function with arguments
add2numbers(5,4)
add2numbers(a=10,b=100)
add2numbers(b=20,a=30)

The sum is: 9
The sum is: 110
The sum is: 50

# The Return Statement
* The return statement is used in a function to send a result back to the place where the function was called. When return is executed, the function stops running and immediately returns the specified value.

In [ ]:
def add(a,b):
  return a + b
result = add(3,5)
print(result)

8

In [ ]:
# function to convert celsius to Faherheit - return statement used.
def celsius_to_fahrenheit(celsius):
  fahrenheit = (celsius * 9/5)+ 32
  return fahrenheit

#call function
temp_f = celsius_to_fahrenheit(25)
print(temp_f)

77.0

# The pass Statement
* the pass statement is a placeholder in a function or loop.it does nothing and is used when you need to write code that will be added later or to define an empty function

In [ ]:
def myfunction():
  pass           # This does nothing for now.

# Arguments in functions

Arguments are the values that are passed into a function when it's called.Afunction must be called with the right number of arguments. if a  function has 2 paeameters,you must provide 2 arguments when calling it.

In [ ]:
# Example: function defined using one parameter
def greetings(name):    # name is a parameter
  print("hello,"+ name + "!")
greetings("Madhav")     # madhav as argument.

hello,Madhav!

**Types of function Arguments**

python supports various types of arguments that can be passed at the time of the function call
* Required arguments(single/multiple arguments)
* Default arguemnts(name arguments)
* Arbitrary arguments (variable-legth arguments *args and **kwargs)

In [ ]:
# done till 5:30 hrs

In [ ]:
# Required Arguments.
def greetings(name):       # name is parameter
  print("hello",name,"!")
greetings("madhav")        # Madhav is argument

hello madhav !

In [ ]:
def intro(course_name,instructor_name):
  print("welcome to", course_name,"course by",instructor_name)
intro("python","poonam!")

welcome to python course by poonam!

# Default Argument :
you can assign default values to arguments in a function defination.if a value isn't provided when the function is called , the default value is used.

In [ ]:
# Example: function defined using one parameter and default value
def greetings(name = "world"):    # default value
  print("hello,"+ name+"!")
greetings()                       # No argument passed
greetings("madhav")               # madhav as argument

hello,world!
hello,madhav!

# Keyword Argument
when calling a function , you can specify arguments by the parameter name. These are called keyword arguments and can be given in *any order.*

In [ ]:
# Example: function defined using two parameters
def divide(a,b):    #a,b are 2 parameters
    return a/b
result = divide(b=10, a =20) # with keyword argument
print(result)

result = divide(10,20)       # Positional Argument
print(result)

2.0
0.5

# Arbitary Positional Arguments (*args)
* if you're unsure how many arguments will be passed,use * args to accept any number of positional arguments.
* PURPOSE:allows you to pass a variable number of positional arguments.
* TYPE: the arguments are stored as a tuple.
* USAGE: Use when you want to pass multiple values that are accessed by position.

In [ ]:
def add_numbers(*args):
  return sum(args)

# any number of arguments
result = add_numbers(1,2,3,4)
print(result)

10

In [ ]:
def greetings2(*names):
  for name in names:
    print(f"Hello,{name}!")
greetings2("Madhav","rishabh","visakha1")

Hello,Madhav!
Hello,rishabh!
Hello,visakha!

# Arbitary Keyword Arguments (**kwargs)
* if you want to pass a variable number of keyword arguments, use ** kwargs.
* purpose: Allows you to pass a variable number of keyword arguments(arguments with names.)
* type:the arguments are stored as a dictionary.
* usage: use when you want to pass multiple values that are accessed by name.

In [ ]:
def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")
print_details(name = "madhav",age =26,city="pune")

name:madhav
age:26
city:pune

# Strings in Python
* A string is a sequence of characters. in python, strings are enclosed within single(') or double(") or triple(""") quotation marks.

In [ ]:
print('hello word!')
print("hello world!")
print('''"hello" world!''')

hello word!
hello world!
"hello" world!

In [ ]:
# date = 18/7/2025
# time = 6:00hrs

# Formatted String
* A formatted string in python is a way to insert variables or expressions inside a string. It allows you to formate the output in a readable and controlled way.
* There are multiple ways to format strings in python:
1. old-style formatting(% operator)
2. str.format() method
3. F-strings (formatted string literals)

# old-style formatting(% operator)
This approach uses the % operator and is similar to string formatting in language like c.
* syntax : "string % value"

In [ ]:
 # Example:
name = "madhav"
age = 16
print("my name is %s and i am %d" %(name,age))
# %s is for string
# %d is for numbers

my name is madhav and i am 16

# Formatted String - str.format()
str.format() method
* in python 3 ,the format() method is more powerful and flexible then the old-style % formatting.
Syntax: "string {}".format(value)

In [ ]:
#Example:
name = "madhav"
age = 16
print("my name is {0} and I'm {1}.".format(name,age))

my name is madhav and I'm 16.

# Formatted String - F-strings
f- strings(formatted string literals)
* in python 3.6 . F-strings are most concise and efficient way to format strings. you prefix the string with an f or F, and variables ore expressions are embedded directly within curly braces{}.

* Syntax: f"string {variable}"

In [ ]:
# Example:
name = "madhav"
age = 16
print(f"My name is {name} and I'm {age}" )
print(f"my age after 5 years will be {age + 5}")

My name is madhav and I'm 16
my age after 5 years will be 21

# Escape Characters
Escape characters in python are special characters used in strings to represent whitespace,symbols,or control characters that would otherwise be difficult to include.An escape character is a backslash\ foollowed by the character you want to insert.

In [ ]:
print("hello \nWorld!")  # \n for new line
print("hello\tworld")    # \t for tab or space

hello
World!
hello	world

In [ ]:
# operations on string
a = "hello"
b = "python"
print(a + b)   # concatenate
print(a*2)     # multiple copies

hellopython
hellohello

In [ ]:
a = "hello"
if "H" in a:
  print("yes")
else:
  print("noo")

noo

# string indexing
* you can access individual characters in a string using their index.Python uses zero-based indexing,meaning the first character has an index of 0.
* Index :position of the character.

In [ ]:
# string indexing
my_name = "poonam"
print(my_name[0])

p

# String Slicing
* slicing in python is a feature that enables accessing parts of  sequence.
string slicing allows you to get subset of characters from a string using a specified range of indices.
* **syntax : bold text: string[start:end:step]**

In [ ]:
name ="poonam"
print(name[0:2])

po

In [ ]:
# Sring methods
#len()  : return the legth of a string
#upper() : coverts string into upper case
#lower() : coverts string into lower case
#strip() : Removes any leading and trailing whitespace
#count() : Returns the number of times a specified value occurs in a string
#find()  : Searches the string for a specified value and returns the
           # position of where it was found
#title()   : coverts the first character of each word to upper case
#split()   : splits the string at the specified separator,and returns a list
#replace(old,new) : replaces all occurrences of a substring with
                    # a new substring.

In [ ]:
word = "hello poonam"
print(len(word))
print(word.upper())
print(word.lower())
print(word.count('a'))
print(word.find("m"))
print(word.split('...'))
print(word.replace('poonam','khot'))
print(word.title()) # each first letter will be capital

12
HELLO POONAM
hello poonam
1
11
['hello poonam']
hello khot
Hello Poonam

In [ ]:
#strip
word2 = "    hello world    "
print(len(word2))
print(word2.strip())

19
hello world

In [ ]:
#join()
zwords =("madhav","is","great")
print("-".join(zwords))

madhav-is-great

# Assignment

In [ ]:
#1.limit the decimal places to 2 digits using round method and print result,
# for the variable pi = 3.1415965359
pi = 3.1415965359
print(round(pi,2))

3.14

In [ ]:
#2.Extract characters from index 2 to 8 with a step of 2: given
# my_string = "Python Course", slice characters from index 2 to 8 ,
# skipping every other char.
my_string = "python Course"
print(my_string[2:8:2])

to

In [ ]:
#3. slice to get only the middle character(s): for my_string =" madhava" ,
# use slicing to extract the middle character(s)
my_string ="madhava"
def mid_str(word):
  middle = int(len(word)/2)
  if len(word) % 2 == 0:
    return word[middle-1:middle+1]
  else:
    return word[middle]
print(mid_str(my_string))

h

In [ ]:
#4.remove the first 3 and last 3 characters:given
# my_string = "Regression Analysis",remove first 3 and last 3 characters.
my_string = "Regression Analysis"
print(my_string[3:-3])

ression Analy

In [ ]:
#5.Get the substring that starts 4 characters from the end to the last character:
# for my_string = "Classification",slice the string starting from the 4th character
# from the end to the last character.
my_string = "Classification"
print(my_string[-4:])

tion

In [ ]:
#6.How to reverse a string using python string method?
word = "python"
print(word[::-1])

nohtyp

In [ ]:
#7.write a python function to check if a string is a palindrome using string methods.
word = "madam"
def is_palindrome(s):
  if s == s[::-1]:
    print(f"{s} is a palindrome.")
  else:
    print(f"{s} is not a palindrome.")
is_palindrome(word)

madam is a palindrome.

# Loops in Python
Loops enable you to perform repetitive tasks efficiently without  writiting redundant code. they iterate over a sequence (like a list,tuple,string or range) or execute a block of code as long as a specific condition is met.

* Types of loops in python
1. while loop
2. for loop
3. Nested loop

# While loop
* the while loop repeatedly executes a block of code as long asa given condition remains True. It checks the condition before each iteration.

In [ ]:
#example:print numbers from 0 to 3
count = 0
while count < 4:
  print(count)
  count +=1

0
1
2
3

# for loop
the for loop in python is used to iterate over a sequence (such as list,tuple,dictionary,set or string) and execute a block of code for each element  in that sequence

In [ ]:
#Example :iterate over each character in language.
language = 'python'
for i in language:
  print(i)

p
y
t
h
o
n

In [ ]:
for i in range(5):    # stop argument
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5,11):   # start ,stop argument
  print(i)

5
6
7
8
9
10

In [ ]:
for i in range(1,10,3):   # start,stop,step argument
  print(i)

1
4
7

In [ ]:
for i in range(5):
  print(i)
else:
  print("for loop ended.")

0
1
2
3
4
for loop ended.

# Loop control statement
loop control statements allow you to alter thr normal flow of a loop.
python supports 3clauses within loops:
* pass statement
* break statement
* continue statement

# Loop Control - pass Statement
* **pass Statement:** the pass statement is used as placeholder(it does nothing) for the future code,and runs entire code without causing any syntax error.

In [ ]:
count = 5
while count > 0:
  if count == 3:
    pass
  else:
    print(count)
  count -=1

5
4
2
1

# loop Control - break Statement
**break statement** - The break statement terminates the loop entirely,existing from it immediately.

In [ ]:
for i in range(5):
  if i == 3:
    break
  print(i)

0
1
2

# Loop Control - continue Statement
**continue Statement** = The continue statement skips the current iteration and moves to the next one.

In [ ]:
for i in range(8):
  if i == 3:
    continue
  print(i)

0
1
2
4
5
6
7

# Nested loop
* loop inside another loop is nested loop. This means that for every single time the outer loop runs, the inner loop runs all of its iterations.

In [ ]:
for i in range(3):
  for num in range(1,4):
      print(num)
  print('----')

1
2
3
----
1
2
3
----
1
2
3
----

In [ ]:
# print prime numbers between range of 2 to 10 using nested loop:
for num in range(2,10):
  for i in range(2,num):
    if num % i == 0:
      break
  else:
    print(num)

2
3
5
7

In [ ]:
# 21/ 7/2025
# TIME : 8:25 hrs

In [12]:
# Assignement - 5
# 1.print the whileloop output in the same line
print("Hello", "madhav1" , end = " ")
print("hello","madhav1",sep = " * ")

# or by using while loop
i = 1
while i < 4:
  print(f"hello madhav {i}",end = " ")
  i += 1

Hello madhav1 hello * madhav1
hello madhav 1 hello madhav 2 hello madhav 3

In [13]:
# print star pattern using loops.
n= 5 # number of rows.
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end = " ")
  print()

*
* *
* * *
* * * *
* * * * *

In [15]:
for i in range(1,n+1):
  print(" * " * i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [17]:
# print star pattern in inverted way
for i in range(n ,0,-1):    #-1 is for inverted printing
  for j in range(1,i+1):
    print("*",end = " ")
  print()

* * * * *
* * * *
* * *
* *
*

In [20]:
n = 5
for i in range(n,0,-1):
  print(" *" * i)

 * * * * *
 * * * *
 * * *
 * *
 *

In [22]:
# pyramid pattern
n = 5
for i in range(1,n+1): #loop for number of rows.
  print(" " * (n-i),end = " ") # for pyramid shape or spaces to center the star
  print("*"* (2 * i -1)) #for odd number 2n-1 ,here uses 2i-1

     *
    ***
   *****
  *******
 *********

In [27]:
#3.write a program to find the factorial of the given number.
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial:", fact)

Enter a number: 4
Factorial: 24

In [25]:
# 4.count the number of vowels in a string.
text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Enter a string: poonam
Number of vowels: 3

In [26]:
# find the longest word in a sentence using a for loop.
sentence = "Python by Rishabh Mistra "
words = sentence.split()
longest_word = ""

for word in words:
  if len(word) > len(longest_word):
    longest_word = word
print("The longest word is:",longest_word)

The longest word is: Rishabh

In [ ]:
# do while loop is same as while

In [29]:
# write a program to print first N numbers in the Fibonacci sequence using a while loop.
# fibonacci sequence : Each number is equal to tyhe sum of the precending two numbers.Eg:0112358
def fibonacci(n):
  a,b = 0,1
  count = 0
  while count < n:
    print(a)
    a,b = b,a+b
    count +=1
fibonacci(5)

0
1
1
2
3