<a href="https://colab.research.google.com/github/poonamkhot123/Python-Practice/blob/main/Python_rivison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This practice is by using youtube chanel " Python Tutorial for beginners iin hindi"
# Total 9:11hrs vidieo
# starts from 1:45 hrs

# Casting in python

In [ ]:
a = 1
print(type(a))
b = '1'
print(type(b))

c = int(b)
print(type(c))
print(a+c)

<class 'int'>
<class 'str'>
<class 'int'>
2

 **IMPLICIT TYPE CASTING**
also known as coercion ,is performed automatically by the Python interpreter.This usually occurs when performing operations between different data types,and python implicitly converts one data to another to avoid data loss or errors.

In [ ]:
# implicit type casting from integer to float
num1=10
num2=5.5
result=num1+num2
print(result)
print(type(result))
# one num is int another is float finally it convert into float it is implicit type casting.

15.5
<class 'float'>

**Explicit type casting** Also known as type conversion , is performed manually by the programmer using built-in functions.
this is done to ensure the desired type conversion and to avoid unexpected behavior.

In [ ]:
# Coverting String to Integer
str_num = "26"
int_num =int(str_num)
print(int_num)
print(type(int_num))

# Converting a value to boolean
print(bool(0))
print(bool(1))

26
<class 'int'>
False
True

# **Input Function**


The input function is an essential feature in python that allows to take input from the user.

In [ ]:
name = input("Enter your name:")
print(f"welcome {name} to the python tutorial series")

Enter your name:poonam
welcome poonam to the python tutorial series

In [ ]:
# input from user to add two number and print result.
x = input("Enter first number:")
y = input("Enter second number:")
print(f"Sum of{x} & {y}is {int(x)+int(y)}")

Enter first number:12
Enter second number:12
Sum of12 & 12is24

In [ ]:
# HW:write a program to input student name and marks of 3 subjects.
# print name & percentage in output.

name = input("Enter a name:")
marks1 = input("enter marks of first subject:")
marks2 = input("enter marks of second subject:")
marks3 = input("enter marks of third subject")
percentage = ((int(marks1)+int(marks2)+int(marks3))/300)*100
print(f"the result of {name} is {int(percentage)}%.well done.")

Enter a name:poonam
enter marks of first subject:56
enter marks of second subject:67
enter marks of third subject89
the result of poonam is 70%.well done.

In [ ]:
# write a python program thats collects multiple types of
# data(e.g.,name,age,height  and student status)
# from user input,stores them in a dictonary,and then prints out the collected data?

# intializing dictionary
user_name ={}
user_name['name'] = input("Enter your name:")
user_name['age'] = int(input("Enter your age:"))
user_name['height'] = float(input("Enter your height:"))
user_name['student'] = input("are you a student:")
print(user_name) #completed till 2:41hrs

started from = 2:41hrs
date = 16 july 2025

In [ ]:
# operators in python are special symbols or keywords
# operators : these are thespecials symbols
# operand: it is the value on which the operator is applied.
# addition operator  +
# Equal operator ==
# and operator  and
# assign operator =

# **Types of operator**

* 1.Arthmetic operators
* 2.Comparison (relational) operators
* 3.assignment operator
* 4.logical operators
* 5.bitwise operators
* 6.identity operators
* 7.membership operators

# *Arithmetic operators*
* (+)addition               a+b        #o/p:8
* (-) substraction          a-b        #o/p:2
* (*) multiplication        a*b        # o/p:15
* (/)Division               a/b        #o/p:1.6666
* (% )modulus(returns remainder) a%b    #o/p:2
* (//) floor division       a//b       #o/p:1
* (**) Exponentiation                  #o/p:125

* **Precedence of Arithmetic operators in python:**
p-parenthesis,E-exponential,M-multiplication,D-division,A-addition,S-substraction

## *Comparison (Realtional) Operators*
* comparison operators are used to compare two values and return a boolean result(True or False)

* (==) equal
* (!=) not equal
* (>) greater than
* (<) less than
* (>=) greater than or equal to
* (<=) less than or equal to

# *Logical operators*
 * **and** returns true if both statements are true
* **or** returns true if one of the statement is true
* **not** reverse the result,returns false if the result is true

# *Identity & Membership Operators*
identity operators are used to compare the memory locations of two objects,
not just equal but if they are the same objects.
Membership operators checks whether a given value is a member of a sequence
(such as strings,lists, and tuples) or not


*   **identity**.........    is......            (a is b)
*   **identity**.........    is not.....        (a is not b)
* **Membership**.........    in......            (a in b)
* **Membership**.........    not in....        (a not in b)..........  till 3:14hrs

In [ ]:
# started date = 17/07/2025
# time = 3:15 hrs

# **CONDITIONAL STATEMENTS**
*conditional statements allows you to execute code based on condition evaluates to true or False.

Types of conditonal statements
* 1.'if' statement
* 2.'if-else' statement
* 3.'if-elif-else' statement
* 4.Nested 'if else' statement
* 5.Conditional Expressions (Ternary Operators)

In [4]:
# if conditional statement = execute a block of code only if the condition is true.
age = 26
if age > 19:
  print("you are an adult")

you are an adult

In [ ]:
a = 26
b = 108
if co